<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UD-HUD</title>
        <link rel="stylesheet" href="../Styles/Global.css">
        <link rel="stylesheet" href="../Styles/Meters.css">
        <link rel="stylesheet" href="Hud.css">
    </head>
    <style>
        :root {
            --meter-def-offset-x: 50%;
            --meter-def-offset-y: 65%;
        }
    </style>
    <body id="main">
        <script src="../Scripts/Meters.js"></script>
        <script src="Hud.js"></script>
    </body>
</html>