name: BuildPR

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    name: BuildPapyrus
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Copy PAPYRUS sources
        uses: GuillaumeFalourd/clone-github-repo-action@v2
        with:
          owner: 'IHateMyKite'
          repository: 'PAPYRUS'
        
      - name: Create documentation folder
        run: mkdir "docs/Documentation" || exit 0
        
      - name: Generate Documentation
        run: |
          cd "PAPYRUS/Natural Docs"
          ./NaturalDocs.exe ../GeneratedDocu
        
      - name: Copy Import folder
        run: |
          mkdir "docs/Documentation/other/Import" || exit 0
          (robocopy "PAPYRUS/GeneratedDocu/Import" docs/Documentation/other/Import /E) ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }
        
      - name: Run build scripts
        run: PAPYRUS/PapyrusCompiler "Scripts/Source" -o="Scripts" -all -i="Scripts/Source;PAPYRUS/SRC;PAPYRUS/SRC_PO3;PAPYRUS/SRC_OTHER;PAPYRUS/SRC_DD;PAPYRUS/SRC_SKYUI;PAPYRUS/SRC_UIEXT;PAPYRUS/SRC_PAPUTIL;PAPYRUS/SRC_SXL;PAPYRUS/SRC_MFG;PAPYRUS/SRC_RM;PAPYRUS/SRC_FNIS;PAPYRUS/SRC_SLA;PAPYRUS/SRC_IWW;PAPYRUS/SRC_XPMSE;PAPYRUS/SRC_ST" -optimize -f="PAPYRUS/Flags.flg"
      
      - name: Delete PAPYRUS folder
        uses: JesseTG/rm@v1.0.0
        with:
          path: PAPYRUS
        
      - name: Ready FOMOD
        run: |
          cd ..
          git clone https://github.com/IHateMyKite/UnforgivingDevices_FOMOD FOMOD
          (robocopy "UnforgivingDevices/." "FOMOD/1.Base" /E /XD DELIVERY PAPYRUS .github .git /XF .gitattributes .gitignore CODE_OF_CONDUCT.md) ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }
          ls
          ls FOMOD
        
      - name: Ready Native
        run: |
          cd ..
          git clone https://github.com/IHateMyKite/UnforgivingDevicesNative NATIVE
          (robocopy "NATIVE/SKSE" "FOMOD/1b.Native/SKSE" /E /XD DELIVERY PAPYRUS .github .git /XF .gitattributes .gitignore CODE_OF_CONDUCT.md) ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }
          ls
          ls NATIVE
        
      - name: Zip files
        uses: thedoctor0/zip-release@0.7.1
        with:
          type: 'zip'
          filename: 'UnforgivingDevices_PRNB.zip'
          path: ../FOMOD/.
          exclusions: '*.git* *CODE_OF_CONDUCT.md*'
        
      - name: See files
        run: ls
        
      - name: Upload files to artifact
        uses: actions/upload-artifact@v3.1.2
        with:
          name: BuildArtifact
          path: UnforgivingDevices_PRNB.zip