name: BuildMAIN

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    name: BuildPapyrus
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Copy PAPYRUS sources
        uses: GuillaumeFalourd/clone-github-repo-action@v2
        with:
          owner: 'IHateMyKite'
          repository: 'PAPYRUS'
        
      - name: Create documentation folder
        run: mkdir "docs/Documentation" || exit 0
        
      - name: Generate Documentation
        run: |
          cd "PAPYRUS/Natural Docs"
          ./NaturalDocs.exe ../GeneratedDocu
        
      - name: Run build scripts
        run: PAPYRUS/PapyrusCompiler "Scripts/Source" -o="Scripts" -all -i="Scripts/Source;PAPYRUS/SRC;PAPYRUS/SRC_OTHER;PAPYRUS/SRC_DD;PAPYRUS/SRC_SKYUI;PAPYRUS/SRC_UIEXT;PAPYRUS/SRC_PAPUTIL;PAPYRUS/SRC_SXL;PAPYRUS/SRC_MFG;PAPYRUS/SRC_RM;PAPYRUS/SRC_FNIS;PAPYRUS/SRC_SLA;PAPYRUS/SRC_IWW;PAPYRUS/SRC_XPMSE;PAPYRUS/SRC_ST" -optimize -f="PAPYRUS/Flags.flg"
        
      - name: Delete PAPYRUS folder
        uses: JesseTG/rm@v1.0.0
        with:
          path: PAPYRUS
        
      - name: Ready FOMOD
        run: |
          cd ..
          git clone https://github.com/IHateMyKite/UnforgivingDevices_FOMOD FOMOD
          (robocopy "UnforgivingDevices/." "FOMOD/1.Base" /E /XD DELIVERY PAPYRUS .github .git /XF .gitattributes .gitignore CODE_OF_CONDUCT.md) ; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }
          ls
          ls FOMOD

      - name: Zip files
        uses: thedoctor0/zip-release@0.7.1
        with:
          type: 'zip'
          filename: 'UnforgivingDevices_NB.zip'
          path: ../FOMOD/.
          exclusions: '*.git* *CODE_OF_CONDUCT.md*'

      - name: Upload files to artifact
        uses: actions/upload-artifact@v3.1.2
        with:
          name: BuildArtifact
          path: UnforgivingDevices_NB.zip
          
      - name: Nightly Release
        uses: andelf/nightly-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: NB
          files: UnforgivingDevices_NB.zip